@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #d51616;
    --branco: #d1d421;
    --laranja: #1769db;
    --azul-degrade: linear-gradient(97.54deg, #18d44d 35.49%, #bf2d78 165.37%);
    --fonte-principal: "Poppins";
    --azul: #7a5b62;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}